// SCSS Variables

// Special
$background: #02000A;
$foreground: #F3EBEE;
$cursor: #F3EBEE;

// Colors
$color0:     #0B0711;
$color1:		#C96E77;
$color2:		#74A360;
$color3:		#A6C461;
$color4:		#BDCBB9;
$color5:		#B4D36B;
$color6:		#DDC5CF;
$color7:		#E5D9DE;
$color8:		#A1989C;
$color9:		#C96E77;
$color10:		#74A360;
$color11:		#A6C461;
$color12:		#BDCBB9;
$color13:		#B4D36B;
$color14:		#DDC5CF;
$color15:		#E5D9DE;