// SCSS Variables

// Special
$background: #181621;
$foreground: #FAF2BE;
$cursor: #FAF2BE;

// Colors
$color0:     #43404F;
$color1:		#8342AD;
$color2:		#5E58C5;
$color3:		#966490;
$color4:		#8A6E8D;
$color5:		#06AEBD;
$color6:		#B5A333;
$color7:		#F0E399;
$color8:		#A89F6B;
$color9:		#9C45D4;
$color10:		#6B62F4;
$color11:		#B06BA9;
$color12:		#9B72A0;
$color13:		#08E9FC;
$color14:		#F2D944;
$color15:		#F0E399;