// SCSS Variables

// Special
$background: #241A1A;
$foreground: #D8ECCC;
$cursor: #D8ECCC;

// Colors
$color0:     #4C4040;
$color1:		#CD92DC;
$color2:		#3EB3F5;
$color3:		#B5B84B;
$color4:		#72C580;
$color5:		#61C69B;
$color6:		#8FC86D;
$color7:		#BFDBAD;
$color8:		#859979;
$color9:		#CD92DC;
$color10:		#3EB3F5;
$color11:		#B5B84B;
$color12:		#72C580;
$color13:		#61C69B;
$color14:		#8FC86D;
$color15:		#BFDBAD;