/*
!.gitignore
!README.md


!/cava/
!/nvim/
!/wal/
!/kitty/
!/hypr/
!/fish/
!/fastfetch/
!/btop/
!/end/
!/eww/
!/lvim/
!/rofi/
/rofi/images
/rofi/launchers


!/Code/User/
!/Code/User/settings.json
!/Code/User/keybindings.json